<!DOCTYPE html>
<html lang="az">

<head>
    <title>ShaRide</title>
    <meta charset="UTF-8">
    <link rel="icon" href="~/dist/images/Group.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/dist/styles/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
@RenderBody()
</body>
</html>