@model object

@{
    ViewBag.Title = "ShaRide";
    Layout = "_Layout";
} 

<nav>
        <div class="images">
            <img src="~/dist/images/logo.png" alt="logo">
            <img class="menuIcon" src="~/dist/images/menu.png" alt="menu">
        </div>
        <div class="menu">
            <a href="#advantages">Üstünlüklər</a>
            <a href="#benefitList">Fayda</a>
            <a href="#detailList">Ətraflı</a>
            <button type="button">Qoşul</button>
            <span class="company">ALIEN SOLUTIONS</span>
        </div>
    </nav>
    <section class="banner">
        <div class="bannerText">
            <h1>
                Yoldaşını tap, yola çıxaq!
            </h1>
            <p>
                Elə indi gedəcəyin yeri seç, sürücünü tap, yola düş. Taksi və avtobuslarda vaxt itirmə! ShaRide ilə pul və vaxtına qənaət edərək istədiyin vaxt, istədiyin yerə səyahət et.
            </p>
        </div>

        <div class="coverImg">
            <img src="~/dist/images/cover.png" alt="coverImg">
        </div>

    </section>

    <section id="bonus">
        <div class="join">
            <h3>İlk qoşul — bonus qazan!</h3>
            <h5>İlk 500 nəfərə bonus komissiyasız 20 sifariş qəbulu</h5>
            <span>Nömrəni qeyd edərək tətbiqin istifadəyə verilməsi və digər kampaniyalar haqda dərhal xəbərdar
                ol.</span>
        </div>
        <div class="form">
            <input id="phone" placeholder="+994 __ - ___ - __ - __" type="tel">
            <span class="alertText">Nömrə düzgün yığılmayıb</span>
            <button class="send" type="button">Göndər</button>
            <button type="button" class="sending">Nömrə göndərilir
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button type="button" class="sent">Nömrə göndərildi</button>
        </div>
    </section>

    <section id="advantages">
        <div class="images">
            <img class="activeImg" src="~/dist/images/1.png" alt="advantageImg">
            <img src="~/dist/images/2.png" alt="advantageImg">
            <img src="~/dist/images/3.png" alt="advantageImg">
        </div>
        <div class="text">
            <div class="description activeText">
                <img class="activeImg" src="~/dist/images/1.png" alt="advantageImg">
                <h2>Sürətli</h2>
                <p>Vaxtın azdır? Sadəcə tətbiqi açaraq gedəcəyin istiqamətdə yol yoldaşını tap və yola çıx! Avtobus gözləmək və taksi axtarmaq ilə vaxt itirmə. </p>
            </div>
            <div class="description">
                <img src="~/dist/images/2.png" alt="advantageImg">
                <h2>Təhlükəsiz</h2>
                <p>Yol yoldaşlarının hesablarına və reytinqlərinə baxaraq doğru insanlarla yola çıxdığından əmin ol!</p>
            </div>
            <div class="description">
                <img src="~/dist/images/3.png" alt="advantageImg">

                <h2>Rahat</h2>
                <p>Səfəri əvvəlcədən planlaya və özünə ən uyğun marşrutu seçərək yola çıxa bilərsən. ShaRide balansını artıraraq nağd ödəniş olmadan səfərlər et.</p>
            </div>
        </div>
    </section>

    <section id="benefitList">
        <h1>ShaRide ilə qazan</h1>
        <div class="benefits">
            <div class="benefit">
                <h5>Sadə sifariş etmək imkanı</h5>
                <p>Sərnişinlər üçün maneələri aradan qaldır! ShaRide istifadəsi asan dizaynı ilə sürətli qeydiyyatdan keçib səyahətə başlamaq üçün bütün lazımi məlumatları təmin edir.</p>
            </div>
            <div class="benefit">
                <h5>İstədiyin dizaynı əlavə et</h5>
                <p>Maşınını istədiyin kimi dizayn edə bilərsən. Yeni oturacaqlar əlavə et, oturacaqları çevir, interyerin dizaynını istədiyin kimi dəyiş. </p>
            </div>
            <div class="benefit">
                <h5>Bir neçə maşın əlavə et</h5>
                <p>Bir neçə maşının var? Hesabına bir neçə maşın əlavə edə bilərsən, istənilən model və müxtəlif dizaynlar ilə. </p>
            </div>
            <div class="benefit">
                <h5>Aylıq hesabatlar</h5>
                <p>Səfərlərin barədə hər zaman məlumatlı ol! Hər səfər üçün nə qədər qazandığını izlə və aylıq hesabatlarına nəzarət et.</p>
            </div>
        </div>
    </section>
    <section id="detailList">
        <h1>Sərfəli səyahət üçün hər şey!</h1>
        <div class="detail">
            <div class="who">
                <h4 class="activeHeader">Sərnişinlər üçün</h4>
                <h4>Sürücülər üçün</h4>
                <h4>İkisi birində tətbiq</h4>
            </div>
            <div class="detailContainer">
                <div class="description activeDescription">
                    <div class="header">
                        <h4>Sərnişinlər üçün</h4>
                    </div>
                    <div class="text">
                        <span>Yol yoldaşının məlumatlarına və reytinqinə bax</span>
                        <span>Bir həftə əvvəldən səfər sifarişi</span>
                        <span>Səfərin qiymətini, başlanğıc və bitmə məntəqələrini öncədən gör</span>
                        <span>Sürücü və avtomobilin məlumatlarına baxmaq imkanı</span>
                        <span>Nağd və ya balansdan ödəmək imkanı</span>
                        <span>Axtarış nəticələrini qiymətə, sürücü reytinqinə, vaxta və yer sayına görə filterlə</span>
                        <span>Qadağaları və ödəniş üsullarını əvvəlcədən gör</span>
                        <span>Səfərlərin hesabatları</span>
                        <span>Istədiyin oturacağı seç</span>
                    </div>
                    <img src="~/dist/images/up.png" class="up" alt="closeDetailText">
                    <img src="~/dist/images/down.png" class="down active" alt="openDetailText">
                </div>
                <div class="description">
                    <div class="header">
                        <h4>Sürücülər üçün</h4>
                    </div>
                    <div class="text">
                        <span>Səfərləri əvvəlcədən planlaşdır</span>
                        <span>Bir neçə maşın əlavə etmək imkanı</span>
                        <span>Başlanğıc və bitmə məntəqələrini təyin et</span>
                        <span>İnteryeri özün dizayn et</span>
                        <span>İstədiyin ödəmə üsulunu əlavə et</span>
                        <span>Sadə və asan istifadəçi interfeysi</span>
                        <span>Eyni istiqamətə gedən sərnişinləri götür</span>
                        <span>Səfərlərin aylıq hesabatları</span>
                    </div>
                    <img src="~/dist/images/up.png" class="up" alt="closeDetailText">
                    <img src="~/dist/images/down.png" class="down active" alt="openDetailText">
                </div>
                <div class="description">
                    <div class="header">
                        <h4>İkisi birində tətbiq</h4>
                    </div>
                    <div class="text">
                        <span>Ayrı-ayrı tətbiqlər yükləməyə ehtiyac yoxdur!</span>
                        <span>A-dan B-ə getməlisən? Gedəcəyin yerə ən yaxın səfəri tap və ya istədiyin vaxta səfər
                        sifariş et.</span>
                        <span>Maşınınla səfərə çıxırsan? Tətbiqetməni aç və səfərinin detallarını yerləşdir.</span>
                        <span>Əvvəlcədən qərar verilmiş məkanda sürücü ilə görüş.</span>
                        <span>Sərnişinlərdən gələn sifarişləri təsdiqlə/imtina et</span>
                        <span>Yaxşı yol!</span>
                    </div>
                    <img src="~/dist/images/up.png" class="up" alt="closeDetailText">
                    <img src="~/dist/images/down.png" class="down active" alt="openDetailText">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="left">
            <span class="name">ShaRide</span>
            <span class="slogan">Biz ölkə daxili sərfəli və təbiət-dostu səyahəti asanlaşdırırıq!</span>
            <span class="solution">ALIEN SOLUTIONS</span>
        </div>
        <div class="right">
            <div class="menu">
                <a href="#advantages">Üstünlüklər</a>
                <a href="#benefitList">Fayda</a>
                <a href="#detailList">Ətraflı</a>
            </div>
            <div class="social">
                <span>Follow us</span>
                <a href="https://www.facebook.com/ShaRide.carpooling" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/sharide/" target="_blank">Instagram</a>
            </div>
        </div>

    </footer>



    <script src="~/dist/scripts/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        var element = document.getElementById('phone');
        var maskOptions = {
            mask: '+994 00 - 000 - 00 - 00'
        };
        var mask = IMask(element, maskOptions);
    </script>